body{
    margin-top: 8%;
    font-size:16px;
}
h1,h2,h3,h4,h5,h6{
    font-family: Poppins;
}
p{
    font-family: Roboto;
}
.navbar-default {
	background: #fff;
    border: 0;
    font-family: Poppins;
}

.navbar-brand {
	font-size:20px;
    color: #000;
    font-weight: bold;
}
.myPerson-right{
    padding-top: 10%;
}
#myPerson h1{
    font-size: 50px;
}

#myPerson img{
     width:100%;
}

.well{
  background:#f1f1f1;
  padding: 50px 0 30px 0;
  text-align:center;
  margin: 5% 0 5% 0;
}
.well p{
  font-size:32px;
  font-family: 'Josefin Sans';
  color:#000;
}
#info2{
  margin:20px 0 60px 0;
}

#contact{
  background:url(../img/O7MF130.jpg);
  padding:40px;
  color:#fff;
  border-top:#333 7px solid;
  border-bottom:#333 7px solid;
}
footer{
  padding:30px;
}
